<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--配置字符串-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=127.0.0.1;Database=book_store; User ID=root;Password=root;port=3306;CharSet=utf8;pooling=true;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>